.DS_Store

/Scratch/

/Build/hsf.o

/Build/hsf.hi

/Build/hsf.hs

/Build/runSfParser.sh

/Build/hsf-Darwin-i386.hi
/Build/hsf-Darwin-i386.hs
/Build/hsf-Darwin-i386.o

/Build/hsf-Linux-x86_64.hi
/Build/hsf-Linux-x86_64.hs

/Build/hsf-Darwin-i386-76.hi
/Build/hsf-Darwin-i386-76.hs
/Build/hsf-Darwin-i386-76.o
/Build/hsf-Linux-x86_64-78.hi
/Build/hsf-Linux-x86_64-78.hs

/Build76/hsf-Darwin-i386.hi
/Build76/hsf-Darwin-i386.hs
/Build76/hsf-Darwin-i386.o

/Build78/hsf-Linux-x86_64.hi
/Build78/hsf-Linux-x86_64.hs

/Build76/hsf

/Build78/hsf
