.DS_Store
/Scratch/

/Build76/hsf
/Build76/runSfParser.sh
/Build76/hsf-Darwin-i386.hi
/Build76/hsf-Darwin-i386.hs
/Build76/hsf-Darwin-i386.o
/Build76/hsf-Linux-x86_64.hi
/Build76/hsf-Linux-x86_64.hs
/Build76/hsf-Linux-x86_64.o

/Build78/hsf
/Build78/runSfParser.sh
/Build78/hsf-Darwin-i386.hi
/Build78/hsf-Darwin-i386.hs
/Build78/hsf-Darwin-i386.o
/Build78/hsf-Linux-x86_64.hi
/Build78/hsf-Linux-x86_64.hs
/Build78/hsf-Linux-x86_64.o
