.DS_Store
/Scratch/

/Build76/Darwin-i386/hsf.hs
/Build76/Darwin-i386/hsf.hi
/Build76/Darwin-i386/hsf.o
/Build76/Darwin-i386/HSF/
/Build76/Darwin-i386/runSfParser.sh
/Build76/Linux-x86_64/hsf.hs
/Build76/Linux-x86_64/hsf.hi
/Build76/Linux-x86_64/hsf.o
/Build76/Linux-x86_64/HSF/
/Build76/Linux-x86_64/runSfParser.sh

/Build78/Darwin-i386/hsf.hs
/Build78/Darwin-i386/hsf.hi
/Build78/Darwin-i386/hsf.o
/Build78/Darwin-i386/HSF/
/Build78/Darwin-i386/runSfParser.sh
/Build78/Linux-x86_64/hsf.hs
/Build78/Linux-x86_64/hsf.hi
/Build78/Linux-x86_64/hsf.o
/Build78/Linux-x86_64/HSF/
/Build78/Linux-x86_64/runSfParser.sh
